.title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}
.ta{
    text-align: left;
    padding-left: 20px;
    margin-top: 4rem;
}
.clear-btn{
    color: #fff;
    background-color: #FF3030;
    border: none;
    padding: 12px;
    width: 80%;
    margin: 10px 0px;
    border-radius: 4px;
}
.clear-btn:hover{
    background-color: rgb(231, 23, 23)
}
.icon{
    margin: 0px 8px;
}
.review-btn{
    color: #fff;
    border: none;
    padding: 12px;
    background-color: #FF9900;
    width: 80%;
    border-radius: 4px;
}
.review-btn:hover{
    background-color: #e29016;
}