/* =====Card===== */
.card{
    height: 508px;
    width: 300px;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 7px 7px 7px 7px;
    position: relative;
}

/* =====card body===== */
.card-body{
    padding: 7px;
    text-align: left;
}
.card-body p{
    margin-bottom: 11px;
    margin-top: 0;
}
img{
    width: 286px;
    height: 286px;
    border-radius: 7px;
}
.p-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    text-align: left;
    margin: 12px;
}
.card-btn{
    width: 100%;
    background-color: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    font-size: 15px;
    line-height: 18px;
    padding: 12px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.7s;
}
.cart-icon{
    margin: 0px 5px;
}
.card-btn:hover{
    background-color: orange;
}